@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
}

.form-container{
  background: #0B3ED9;
  height: 100vh;
}

.form-container .container{
  width: 70%;
  padding: 54px;
}

.form-container .main h1{
  font-size: 53px;
  color: white;
}

.form-container .main p{
  color: #ffffffb5;
  font-weight: 300;
  font-size: 14px;
}

.form-container .container input{
  background: transparent;
    border-bottom: 1px solid #ffffff6b;
  font-weight: 400;
  outline: none
}

.form-container .container button{
  background: white;
  color: #0b3ed9;
  box-shadow: 0 2px 4px #0000003b;
}

.main-header{
  font-weight: 700;
    font-size: 22px;
    color: #0b3ed9;
}

.dashboard{
  background: #0642f71e;
  height: 110vh;
}

.dashboard div div{
  height: 165px;
  padding: 72px;
}

.pef-viewer{
  
}

.dashboard .main-content input{
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #00000069;
  outline: none
}

.dashboard .main-content input#file{
  border: none;
  padding: 10px 0;
  border: none !important;
  outline: none
}

.dashboard .main-content button{
  padding: 10px 84px;
  outline: none;
  background: #f5c416;
  margin-top: 22px;
}

.dashboard .main-content{
  height: 68vh !important;
}
.user-profile{
  background: white;
  width: 100%;
}

.user-profile img{
  width: 44%;
    height: 100%;
}